@font-face {
    font-family: "Guardian Headline Full";
    src: url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Light.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Light.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: "Guardian Headline Full";
    src: url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-LightItalic.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-LightItalic.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-LightItalic.ttf") format("truetype");
    font-weight: 300;
    font-style: italic
}

@font-face {
    font-family: "Guardian Headline Full";
    src: url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: "Guardian Headline Full";
    src: url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-RegularItalic.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-RegularItalic.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-RegularItalic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic
}

@font-face {
    font-family: "Guardian Headline Full";
    src: url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Medium.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Medium.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: "Guardian Headline Full";
    src: url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-MediumItalic.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-MediumItalic.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-MediumItalic.ttf") format("truetype");
    font-weight: 500;
    font-style: italic
}

@font-face {
    font-family: "Guardian Headline Full";
    src: url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Semibold.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Semibold.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: "Guardian Headline Full";
    src: url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-SemiboldItalic.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-SemiboldItalic.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-SemiboldItalic.ttf") format("truetype");
    font-weight: 600;
    font-style: italic
}

@font-face {
    font-family: "Guardian Headline Full";
    src: url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: "Guardian Headline Full";
    src: url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BoldItalic.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BoldItalic.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BoldItalic.ttf") format("truetype");
    font-weight: 700;
    font-style: italic
}

@font-face {
    font-family: "Guardian Headline Full";
    src: url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Black.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Black.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-Black.ttf") format("truetype");
    font-weight: 900;
    font-style: normal
}

@font-face {
    font-family: "Guardian Headline Full";
    src: url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BlackItalic.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BlackItalic.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GHGuardianHeadline-BlackItalic.ttf") format("truetype");
    font-weight: 900;
    font-style: italic
}

@font-face {
    font-family: "Guardian Titlepiece";
    src: url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff2") format("woff2"), url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.woff") format("woff"), url("https://interactive.guim.co.uk/fonts/garnett/GTGuardianTitlepiece-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal
}

.element-atom,
.interactive-atom {
    margin: 0 !important
}

.header-wrapper {
    background-color: #121212;
    padding-top: 10px;
    padding-bottom: 0px
}

@media (min-width: 61.25em) {
    .header-wrapper {
        padding-bottom: 20px
    }
}

.content__dateline {
    color: #f6f6f6
}

@media (min-width: 61.25em) {
    .content__dateline {
        transform: translate(-8px, -18px) rotate(-5deg)
    }
}

@media (min-width: 61.25em) {
    .meta__extras {
        border: none;
        transform: translate(-8px, -18px) rotate(-7deg)
    }
}

.meta__extras .social-icon--facebook,
.meta__extras .social-icon--twitter,
.meta__extras .social-icon--email {
    background-color: transparent;
    border: 1px solid white;
    fill: white;
    transition: background-color 0.3s, fill 0.3s;
}

.meta__extras .social-icon--facebook:hover,
.meta__extras .social-icon--twitter:hover,
.meta__extras .social-icon--email:hover {
    background-color: #ffe500;
    fill: #121212;
}

.bylines {
    font-size: 18px;
    line-height: 1.4;
    margin-top: 12px;
    display: block;
    max-width: 100%;
}

@media (min-width: 61.25em) {
    .bylines {
        max-width: 70%;
    }
}

.underline {
    border-bottom: 1px solid #ffe500;
}

.ios .meta__extras,
.android .meta__extras {
    display: none;
}

.ios .interactive-main,
.android .interactive-main {
    background-color:#fff;
}

.bh-blocks, .interactive-main {
    .android &,
    .ios & {
        background-color:white!important;
    }
}
.bh-blocks, .interactive-main {
    background-color:white!important;
}

.highlight {
    transition: all ease-in-out 0.5s;
}

.highlight.visible {
    background-color: #ffe500;
    color: #121212
}

.intro_paragraph {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    font-family: GH Guardian Headline, Guardian Egyptian Web, Georgia, serif;
    font-size: 17px;
    line-height: 1.4;
    padding-top: 12px;
}

@media (min-width: 61.25em) {
    .intro_paragraph {
        flex-direction: row
    }
}

.intro_paragraph .left {
    margin-right: 20px
}

@media (min-width: 61.25em) {
    .intro_paragraph .left {
        max-width: 70%
    }
}

.content__meta-container {
    margin-top: 20px;
    margin-bottom: 0
}

.content__meta-container h3 {
    font-size: 18px;
    color: #ffe500;
    margin-top: -5px;
    display: none;
    font-weight: 800;
    font-family: GH Guardian Headline, Guardian Egyptian Web, Georgia, serif;
    transform: translate(-10px, -12px) rotate(-5deg)
}

@media (min-width: 61.25em) {
    .content__meta-container h3 {
        display: block
    }
}

.content__meta-container .byline {
    display: none
}

@media (min-width: 61.25em) {
    .content__meta-container {
        height: 120px;
        background-image: url("https://uploads.guim.co.uk/2020/07/10/yellow_conference.png");
        background-size: cover;
        background-size: 100%;
        background-position: -10px 10px;
        background-repeat: no-repeat;
        position: absolute;
        top: 100px;
        right: -30px;
        padding: 50px
    }
}

.sharecount__value {
    color: #fff !important
}

.meta__numbers .inline-share {
    fill: #fff !important
}

.bh-header {
    margin: 4px 12px;
    min-height: 300px
}

@media (min-width: 41.25em) {
    .bh-header {
        margin: 4px 20px
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes fade-in {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

.bh-header .fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
    animation: fade-in 1.2s cubic-bezier(0.39, 0.575, 0.565, 1) both
}

.bh-header .black-history {
    margin-bottom: 40px;
    animation-name: fadeIn
}

.bh-header .large {
    font-family: GH Guardian Headline, Guardian Egyptian Web, Georgia, serif;
    font-size: 17px;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 20px
}

@media (min-width: 46.25em) {
    .bh-header .large {
        font-size: 24px;
        line-height: 1.2
    }
}

@media (min-width: 61.25em) {
    .bh-header .large {
        font-size: 28px
    }
}

.bh-header h1 {
    font-family: GH Guardian Headline, Guardian Egyptian Web, Georgia, serif;
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400
}

@media (min-width: 46.25em) {
    .bh-header h1 {
        font-size: 24px;
        width: 70%
    }
}

@media (min-width: 61.25em) {
    .bh-header h1 {
        font-size: 28px;
        width: 70%;
        margin-top: -77px;
        margin-bottom: 30px
    }
}

.bh-header h1:after {
    background-image: url(https://uploads.guim.co.uk/2020/07/10/yellow_conference.png);
    background-repeat: no-repeat;
    width: 300px;
    background-size: contain;
    content: '';
    height: 125px;
    display: block;
    transform: rotate(10deg) translate(-20px, 0px);
    margin-bottom: -90px;
    margin-top: -18px
}

.bh-header h1 .yellow {
    color: #ffe500
}

.bh-header h1 .bold,
.bh-header h1 .yellow {
    font-weight: 700
}

.bh-blocks {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #fff
}

@media (min-width: 61.25em) {
    .bh-blocks {
        flex-direction: row
    }
}

@media (min-width: 61.25em) {

    .bh-blocks.overflow .bh-timelibe-one,
    .bh-blocks.overflow .bh-timelibe-two,
    .bh-blocks.overflow .bh-timelibe-three {
        overflow-y: scroll
    }
}

h1,
h2,
p {
    color: #fff
}

.bh-timelibe-one,
.bh-timelibe-two,
.bh-timelibe-three {
    height: auto;
    overflow-y: hidden;
    border-bottom: 1px solid #121212;
    padding: 0 12px;
    box-sizing: border-box;
    position: relative
}

@media (min-width: 41.25em) {

    .bh-timelibe-one,
    .bh-timelibe-two,
    .bh-timelibe-three {
        padding: 0 20px;
        border-right: 1px solid #121212
    }
}

@media (min-width: 61.25em) {

    .bh-timelibe-one,
    .bh-timelibe-two,
    .bh-timelibe-three {
        height: 100vh
    }
}

.bh-timelibe-one::-webkit-scrollbar,
.bh-timelibe-two::-webkit-scrollbar,
.bh-timelibe-three::-webkit-scrollbar {
    width: 8px
}

.bh-timelibe-one::-webkit-scrollbar-track,
.bh-timelibe-two::-webkit-scrollbar-track,
.bh-timelibe-three::-webkit-scrollbar-track {
    background-color: #ffff;
    padding: 20px
}

.bh-timelibe-one::-webkit-scrollbar-thumb,
.bh-timelibe-two::-webkit-scrollbar-thumb,
.bh-timelibe-three::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffe500
}

.bh-timelibe-one h2,
.bh-timelibe-two h2,
.bh-timelibe-three h2 {
    font-family: "Guardian Titlepiece";
    font-size: 32px;
    line-height: 115%;
    font-weight: 900;
    margin-bottom: 32px;
    min-height: 20px;
    color: #121212
}

@media (min-width: 61.25em) {

    .bh-timelibe-one h2,
    .bh-timelibe-two h2,
    .bh-timelibe-three h2 {
        min-height: 70px
    }
}

.bh-timelibe-one h2.header-title,
.bh-timelibe-two h2.header-title,
.bh-timelibe-three h2.header-title {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #fff
}

.bh-timelibe-one h2.header-title+svg,
.bh-timelibe-two h2.header-title+svg,
.bh-timelibe-three h2.header-title+svg {
    position: absolute;
    top: 10px;
    right: 10px
}

@media (min-width: 61.25em) {

    .bh-timelibe-one h2.header-title+svg,
    .bh-timelibe-two h2.header-title+svg,
    .bh-timelibe-three h2.header-title+svg {
        transform: rotate(90deg)
    }
}

.placeholder-block {
    display: flex
}

@media (min-width: 61.25em) {
    .placeholder-block {
        flex-direction: column
    }
}

.placeholder-block .card {
    border-top: 1px solid #121212;
    margin-bottom: 20px;
    width: 300px;
    flex: none;
    padding-right: 30px
}

@media (min-width: 61.25em) {
    .placeholder-block .card {
        width: 100%;
        padding: 0
    }
}

.placeholder-block h2 {
    font-family: GH Guardian Headline, Guardian Egyptian Web, Georgia, serif;
    font-size: 17px;
    line-height: 135%;
    font-weight: 700;
    margin-bottom: 0;
    min-height: 0;
    color: #121212;
    background-color: #fff
}

.placeholder-block h2:before {
    display: inline-block;
    content: "";
    height: 28px;
    width: 1px;
    background-color: #121212;
    margin-right: 5px
}

.placeholder-block h2.year {
    font-family: "Guardian Titlepiece";
    font-size: 32px;
    line-height: 1;
    margin-bottom: 12px
}

.placeholder-block p {
    font-size: 17px;
    line-height: 135%;
    color: #121212
}

.bh-timelibe-one {
    width: unset
}

@media (min-width: 61.25em) {
    .bh-timelibe-one {
        width: 40%;
        border-left: 1px solid #121212
    }
}

.bh-timelibe-two,
.bh-timelibe-three {
    width: unset
}

@media (min-width: 61.25em) {

    .bh-timelibe-two,
    .bh-timelibe-three {
        width: 30%
    }
}

.image-wrapper img {
    width: 100%;
    height: auto
}

