@import "mq";
@import "fonts";
@import "palette";

// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element-atom,
.interactive-atom {
  margin: 0 !important;
}

body {
}

.header-wrapper {
  background-color: #121212;
  padding-top: 10px;
  padding-bottom: 0px;

  @include mq($from: desktop) {
    padding-bottom: 20px;
  }
}

.content__dateline {
  color: #f6f6f6;
  @include mq($from: desktop) {
    transform: translate(-8px, -18px) rotate(-5deg);
  }
}

.meta__extras {
  @include mq($from: desktop) {
    border: none;
    transform: translate(-8px, -18px) rotate(-7deg);
  }
  .social-icon--facebook,
  .social-icon--twitter,
  .social-icon--email {
    background-color: transparent;
    border: 1px solid white;
    fill: white;
    transition: background-color 0.3s, fill 0.3s;
    &:hover {
      background-color: #ffe500;
      fill: #121212;
    }
  }
}

.content__meta-container {
  margin-top: 20px;
  margin-bottom: 0;

  h3 {
    font-size: 18px;
    color: #ffe500;
    margin-top: -5px;
    display: none;
    font-weight: 800;
    font-family: GH Guardian Headline, Guardian Egyptian Web, Georgia, serif;
    transform: translate(-10px, -12px) rotate(-5deg);

    @include mq($from: desktop) {
      display: block;
    }
  }

  .byline {
    display: none;
  }

  @include mq($from: desktop) {
    height: 120px;
    background-image: url("https://uploads.guim.co.uk/2020/07/09/YELLOW_CIRCLE.png");
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 100px;
    right: -30px;
    padding: 80px;
  }
}

.bh-header {
  margin: 4px 12px;
  min-height: 300px;

  @include mq(phablet) {
    margin: 4px 20px;
  }

  .black-history {
    margin-bottom: 40px;
  }

  h1 {
    font-family: GH Guardian Headline, Guardian Egyptian Web, Georgia, serif;
    font-size: 17px;
    line-height: 115%;
    font-weight: 400;

    @include mq(tablet) {
      font-size: 24px;
      width: 70%;
    }

    @include mq(desktop) {
      font-size: 28px;
      width: 80%;
      margin-top: -77px;
      margin-bottom: 50px;
    }

    .yellow {
      color: #ffe500;
    }

    .bold,
    .yellow {
      font-weight: 700;
    }
  }
}

.bh-blocks {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #fff;

  @include mq($from: desktop) {
    flex-direction: row;
  }

  &.overflow {
    .bh-timelibe-one,
    .bh-timelibe-two,
    .bh-timelibe-three {
      @include mq($from: desktop) {
        overflow-y: scroll;
      }
    }
  }
}

h1,
h2,
p {
  color: #fff;
}

.bh-timelibe-one,
.bh-timelibe-two,
.bh-timelibe-three {
  height: auto;
  overflow-y: hidden;
  border-bottom: 1px solid #121212;
  padding: 0 12px;
  box-sizing: border-box;

  @include mq(phablet) {
    padding: 0 20px;
    border-right: 1px solid #121212;
  }

  @include mq($from: desktop) {
    height: 100vh;
  }

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: #ffff;
    padding: 20px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffe500;
  }

  h2 {
    font-family: "Guardian Titlepiece";
    font-size: 32px;
    line-height: 115%;
    font-weight: 900;
    margin-bottom: 32px;
    min-height: 20px;
    color: #121212;

    @include mq($from: desktop) {
      min-height: 70px;
    }

    &.header-title {
      position: sticky;
      top: 0;
      left: 0;
      background-color: #fff;
    }
  }
}

.placeholder-block {
  display: flex;

  @include mq($from: desktop) {
    flex-direction: column;
  }

  .card {
    border-top: 1px solid #121212;
    margin-bottom: 20px;
    width: 300px;
    flex: none;
    padding-right: 30px;

    @include mq($from: desktop) {
      width: 100%;
      padding: 0;
    }
  }
  h2 {
    font-family: GH Guardian Headline, Guardian Egyptian Web, Georgia, serif;
    font-size: 17px;
    line-height: 135%;
    font-weight: 700;
    margin-bottom: 0;
    min-height: 0;
    color: #121212;
    background-color: #fff;

    &:before {
      display: inline-block;
      content: "";
      height: 28px;
      width: 1px;
      background-color: #121212;
      margin-right: 5px;
    }

    &.year {
      font-family: "Guardian Titlepiece";
      font-size: 32px;
      line-height: 1;
      margin-bottom: 12px;
    }
  }

  p {
    font-size: 17px;
    line-height: 135%;
    color: #121212;
  }
}

.bh-timelibe-one {
  width: unset;

  @include mq(desktop) {
    width: 40%;
    border-left: 1px solid #121212;
  }
}

.bh-timelibe-two,
.bh-timelibe-three {
  width: unset;

  @include mq(desktop) {
    width: 30%;
  }
}

.image-wrapper {
  img {
    width: 100%;
    height: auto;
  }
}


@import "new-styles";


footer {
  display:none;
}